{
  "root": true,
  "extends": ["@toruslabs/eslint-config-typescript"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 11,
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-console": "off",
    "import/extensions": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "react/jsx-props-no-spreading": 0,
    "camelcase": "off",
    "import/no-unresolved": [2, { "ignore": ["^@theme", "^@docusaurus", "^@site"] }]
  },
  "settings": {
    "mdx/code-blocks": false
  },
  "globals": {
    "JSX": true
  },
  "overrides": [
    {
      "files": ["*.mdx", "*.md"],
      "parser": "eslint-mdx",
      "parserOptions": {
        "project": "./tsconfig.json",
        "ecmaVersion": 11,
        "sourceType": "module",
        "extraFileExtensions": [".mdx"]
      },
      "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx", ".mdx"] }],
        "@typescript-eslint/return-await": 0,
        "@typescript-eslint/no-throw-literal": 0,
        "@typescript-eslint/no-implied-eval": 0,
        "@typescript-eslint/dot-notation": 0,
        "@typescript-eslint/naming-convention": 0,
        "no-case-declarations": 0,
        "import/extensions": [
          "error",
          "ignorePackages",
          {
            "js": "never",
            "jsx": "never",
            "ts": "never",
            "tsx": "never"
          }
        ]
      }
    }
  ]
}